In [2]:
import pandas as pd
pd.__version__

'1.4.2'

In [3]:
!pip install pyarrow

Requirement already satisfied: pyarrow in /home/codespace/anaconda3/lib/python3.9/site-packages (20.0.0)

In [4]:
import sklearn

In [5]:
sklearn.__version__

'1.0.2'

In [20]:
df=pd.read_parquet('./data/yellow_tripdata_2023-01.parquet')

In [7]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [8]:
rows,columns=df.shape

In [9]:
print(rows)
print(columns)

3066766
19

In [11]:
df.describe()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3066766 entries, 0 to 3066765
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 444.6+ MB

In [21]:
df['duration'] = (df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']).dt.total_seconds() / 60

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3066766 entries, 0 to 3066765
Data columns (total 20 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
 19  duration               float64
dtypes: datetime64[ns](2), float64(13), int64(4), object(1)
memory usage: 468.0+ MB

In [13]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.30,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,8.433333
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.90,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,6.316667
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.90,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,12.750000
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.10,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,9.616667
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.40,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,10.833333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3066761,2,2023-01-31 23:58:34,2023-02-01 00:12:33,NaN,3.05,NaN,None,107,48,0,15.80,0.00,0.5,3.96,0.0,1.0,23.76,NaN,NaN,13.983333
3066762,2,2023-01-31 23:31:09,2023-01-31 23:50:36,NaN,5.80,NaN,None,112,75,0,22.43,0.00,0.5,2.64,0.0,1.0,29.07,NaN,NaN,19.450000
3066763,2,2023-01-31 23:01:05,2023-01-31 23:25:36,NaN,4.67,NaN,None,114,239,0,17.61,0.00,0.5,5.32,0.0,1.0,26.93,NaN,NaN,24.516667
3066764,2,2023-01-31 23:40:00,2023-01-31 23:53:00,NaN,3.15,NaN,None,230,79,0,18.15,0.00,0.5,4.43,0.0,1.0,26.58,NaN,NaN,13.000000
3066765,2,2023-01-31 23:07:32,2023-01-31 23:21:56,NaN,2.85,NaN,None,262,143,0,15.97,0.00,0.5,2.00,0.0,1.0,21.97,NaN,NaN,14.400000

In [14]:
df.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
count,3.066766e+06,2.995023e+06,3.066766e+06,2.995023e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,2.995023e+06,2.995023e+06,3.066766e+06
mean,1.730215e+00,1.362532e+00,3.847342e+00,1.497440e+00,1.663980e+02,1.643926e+02,1.194483e+00,1.836707e+01,1.537842e+00,4.882900e-01,3.367941e+00,5.184907e-01,9.820847e-01,2.702038e+01,2.274231e+00,1.074086e-01,1.566900e+01
std,4.438480e-01,8.961200e-01,2.495838e+02,6.474767e+00,6.424413e+01,6.994368e+01,5.294762e-01,1.780782e+01,1.789592e+00,1.034641e-01,3.826759e+00,2.017579e+00,1.833529e-01,2.216359e+01,7.718454e-01,3.556511e-01,4.259435e+01
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-9.000000e+02,-7.500000e+00,-5.000000e-01,-9.622000e+01,-6.500000e+01,-1.000000e+00,-7.510000e+02,-2.500000e+00,-1.250000e+00,-2.920000e+01
25%,1.000000e+00,1.000000e+00,1.060000e+00,1.000000e+00,1.320000e+02,1.140000e+02,1.000000e+00,8.600000e+00,0.000000e+00,5.000000e-01,1.000000e+00,0.000000e+00,1.000000e+00,1.540000e+01,2.500000e+00,0.000000e+00,7.116667e+00
50%,2.000000e+00,1.000000e+00,1.800000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,1.280000e+01,1.000000e+00,5.000000e-01,2.720000e+00,0.000000e+00,1.000000e+00,2.016000e+01,2.500000e+00,0.000000e+00,1.151667e+01
75%,2.000000e+00,1.000000e+00,3.330000e+00,1.000000e+00,2.340000e+02,2.340000e+02,1.000000e+00,2.050000e+01,2.500000e+00,5.000000e-01,4.200000e+00,0.000000e+00,1.000000e+00,2.870000e+01,2.500000e+00,0.000000e+00,1.830000e+01
max,2.000000e+00,9.000000e+00,2.589281e+05,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,1.160100e+03,1.250000e+01,5.316000e+01,3.808000e+02,1.969900e+02,1.000000e+00,1.169400e+03,2.500000e+00,1.250000e+00,1.002918e+04

In [22]:
df = df.drop(df[(df['duration'] > 60) | (df['duration'] < 1)].index)

In [12]:
df.shape[0]

3009173

In [23]:
(df.shape[0]/3066766)*100

98.1220282212598

In [27]:
id_columns = ['VendorID', 'PULocationID']
for col in id_columns:
    df[col] = df[col].astype(str)

In [28]:
list_of_dicts = df[id_columns].to_dict(orient='records')

In [29]:
from sklearn.feature_extraction import DictVectorizer

# Initialize the vectorizer
vectorizer = DictVectorizer()  # Set sparse=True for large datasets

# Fit and transform the data
X = vectorizer.fit_transform(list_of_dicts)

# View the feature names and transformed matrix
print("Feature names:", vectorizer.get_feature_names_out())
#print("Transformed matrix:\n", X)
X.shape#X est le vecteur X_train

Feature names: ['PULocationID=1' 'PULocationID=10' 'PULocationID=100' 'PULocationID=101'
 'PULocationID=102' 'PULocationID=106' 'PULocationID=107'
 'PULocationID=108' 'PULocationID=109' 'PULocationID=11'
 'PULocationID=111' 'PULocationID=112' 'PULocationID=113'
 'PULocationID=114' 'PULocationID=115' 'PULocationID=116'
 'PULocationID=117' 'PULocationID=118' 'PULocationID=119'
 'PULocationID=12' 'PULocationID=120' 'PULocationID=121'
 'PULocationID=122' 'PULocationID=123' 'PULocationID=124'
 'PULocationID=125' 'PULocationID=126' 'PULocationID=127'
 'PULocationID=128' 'PULocationID=129' 'PULocationID=13'
 'PULocationID=130' 'PULocationID=131' 'PULocationID=132'
 'PULocationID=133' 'PULocationID=134' 'PULocationID=135'
 'PULocationID=136' 'PULocationID=137' 'PULocationID=138'
 'PULocationID=139' 'PULocationID=14' 'PULocationID=140'
 'PULocationID=141' 'PULocationID=142' 'PULocationID=143'
 'PULocationID=144' 'PULocationID=145' 'PULocationID=146'
 'PULocationID=147' 'PULocationID=148' 'PULocationID=149'
 'PULocationID=15' 'PULocationID=150' 'PULocationID=151'
 'PULocationID=152' 'PULocationID=153' 'PULocationID=154'
 'PULocationID=155' 'PULocationID=156' 'PULocationID=157'
 'PULocationID=158' 'PULocationID=159' 'PULocationID=16'
 'PULocationID=160' 'PULocationID=161' 'PULocationID=162'
 'PULocationID=163' 'PULocationID=164' 'PULocationID=165'
 'PULocationID=166' 'PULocationID=167' 'PULocationID=168'
 'PULocationID=169' 'PULocationID=17' 'PULocationID=170'
 'PULocationID=171' 'PULocationID=172' 'PULocationID=173'
 'PULocationID=174' 'PULocationID=175' 'PULocationID=177'
 'PULocationID=178' 'PULocationID=179' 'PULocationID=18'
 'PULocationID=180' 'PULocationID=181' 'PULocationID=182'
 'PULocationID=183' 'PULocationID=184' 'PULocationID=185'
 'PULocationID=186' 'PULocationID=187' 'PULocationID=188'
 'PULocationID=189' 'PULocationID=19' 'PULocationID=190'
 'PULocationID=191' 'PULocationID=192' 'PULocationID=193'
 'PULocationID=194' 'PULocationID=195' 'PULocationID=196'
 'PULocationID=197' 'PULocationID=198' 'PULocationID=199' 'PULocationID=2'
 'PULocationID=20' 'PULocationID=200' 'PULocationID=201'
 'PULocationID=202' 'PULocationID=203' 'PULocationID=205'
 'PULocationID=206' 'PULocationID=207' 'PULocationID=208'
 'PULocationID=209' 'PULocationID=21' 'PULocationID=210'
 'PULocationID=211' 'PULocationID=212' 'PULocationID=213'
 'PULocationID=214' 'PULocationID=215' 'PULocationID=216'
 'PULocationID=217' 'PULocationID=218' 'PULocationID=219'
 'PULocationID=22' 'PULocationID=220' 'PULocationID=221'
 'PULocationID=222' 'PULocationID=223' 'PULocationID=224'
 'PULocationID=225' 'PULocationID=226' 'PULocationID=227'
 'PULocationID=228' 'PULocationID=229' 'PULocationID=23'
 'PULocationID=230' 'PULocationID=231' 'PULocationID=232'
 'PULocationID=233' 'PULocationID=234' 'PULocationID=235'
 'PULocationID=236' 'PULocationID=237' 'PULocationID=238'
 'PULocationID=239' 'PULocationID=24' 'PULocationID=240'
 'PULocationID=241' 'PULocationID=242' 'PULocationID=243'
 'PULocationID=244' 'PULocationID=245' 'PULocationID=246'
 'PULocationID=247' 'PULocationID=248' 'PULocationID=249'
 'PULocationID=25' 'PULocationID=250' 'PULocationID=251'
 'PULocationID=252' 'PULocationID=253' 'PULocationID=254'
 'PULocationID=255' 'PULocationID=256' 'PULocationID=257'
 'PULocationID=258' 'PULocationID=259' 'PULocationID=26'
 'PULocationID=260' 'PULocationID=261' 'PULocationID=262'
 'PULocationID=263' 'PULocationID=264' 'PULocationID=265'
 'PULocationID=28' 'PULocationID=29' 'PULocationID=3' 'PULocationID=30'
 'PULocationID=31' 'PULocationID=32' 'PULocationID=33' 'PULocationID=34'
 'PULocationID=35' 'PULocationID=36' 'PULocationID=37' 'PULocationID=38'
 'PULocationID=39' 'PULocationID=4' 'PULocationID=40' 'PULocationID=41'
 'PULocationID=42' 'PULocationID=43' 'PULocationID=44' 'PULocationID=45'
 'PULocationID=46' 'PULocationID=47' 'PULocationID=48' 'PULocationID=49'
 'PULocationID=5' 'PULocationID=50' 'PULocationID=51' 'PULocationID=52'
 'PULocationID=53' 'PULocationID=54' 'PULocationID=55' 'PULocationID=56'
 'PULocationID=57' 'PULocationID=58' 'PULocationID=6' 'PULocationID=60'
 'PULocationID=61' 'PULocationID=62' 'PULocationID=63' 'PULocationID=64'
 'PULocationID=65' 'PULocationID=66' 'PULocationID=67' 'PULocationID=68'
 'PULocationID=69' 'PULocationID=7' 'PULocationID=70' 'PULocationID=71'
 'PULocationID=72' 'PULocationID=73' 'PULocationID=74' 'PULocationID=75'
 'PULocationID=76' 'PULocationID=77' 'PULocationID=78' 'PULocationID=79'
 'PULocationID=8' 'PULocationID=80' 'PULocationID=81' 'PULocationID=82'
 'PULocationID=83' 'PULocationID=85' 'PULocationID=86' 'PULocationID=87'
 'PULocationID=88' 'PULocationID=89' 'PULocationID=9' 'PULocationID=90'
 'PULocationID=91' 'PULocationID=92' 'PULocationID=93' 'PULocationID=94'
 'PULocationID=95' 'PULocationID=96' 'PULocationID=97' 'PULocationID=98'
 'VendorID=1' 'VendorID=2']

(3009173, 257)

In [30]:
from sklearn.linear_model import LinearRegression
Y_train = df['duration']
lr = LinearRegression()
lr.fit(X,Y_train)

LinearRegression()

In [34]:
y_pred = lr.predict(X)
from sklearn.metrics import mean_squared_error
mean_squared_error(Y_train, y_pred, squared = False)

8.478557689402955